body {
    background-color: #fefefe;
    color: #333;
}

.mainHeader {
    color: brown;
}

.sectionHeader,
.diaryHeader {
    color: #1460aa;
}

p {
    color: darkblue;
}

.link {
    color: #00381c;
    font-weight: bold;
}

.about {
    position: relative;
}

.thirdHeader {
    color: #1a547e;
}

main {
    margin: 35px auto;
    width: 100%;
    max-width: 700px;
}

.top_link {
    position: fixed;
    bottom: 10px;
    right: 10px;
}


/* .box,
.boxtest {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    right: 50%;
}

.box {
    z-index: 4;
    position: fixed;
}

.boxtest {
    top: 30px;
    background-color: lightblue;
    color: #000000;
    right: 45%;
} */