body {
    background-color: #fefefe;
    color: #333;
}

.mainHeader {
    color: brown;
}

.sectionHeader,
.diaryHeader {
    color: #1460aa;
}

p {
    color: darkblue;
}

.link {
    color: #00381c;
    font-weight: bold;
}

.thirdHeader {
    color: #1a547e;
}